{% load static %}
<!-- Footer -->
<footer class="text-light" style="background-color:#343a40;padding: 40px;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-4 col-xl-3">
				<h5>About</h5>
				<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
				<p class="mb-0">Here the description of our magnificent team.</p>
				<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-10">
				<p>© 2020 WebProject, All rights reserved</p>
			</div>
			<div class="col-md-4 col-lg-3 col-xl-3" style="margin-left:auto; margin-right:0">
				<h5>Contact</h5>
				<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
				<ul class="list-unstyled">
					<li><i class="fa fa-home mr-2"></i>J&Company</li>
					<li><i class="fa fa-envelope mr-2"></i> grup_ade@example.com</li>
					<li><i class="fa fa-phone mr-2"></i> + 34 638 282 856</li>
					<li><i class="fa fa-phone mr-2"></i> + 34 648 774 432</li>
					<li><i class="fa fa-phone mr-2"></i> + 34 635 581 180</li>
					<li><i class="fa fa-phone mr-2"></i> + 34 628 226 142</li>
				</ul>
			</div>
			<div class="col-12 copyright mt-3">
				<p class="float-left">
					<a href="#">Back to top</a>
				</p>
				<p class="text-right text-muted">created with <i class="fa fa-heart"></i> and django</p>
			</div>
		</div>
	</div>
</footer>