{% extends 'base.html' %}
{% block title %}Your account{% endblock %}
{% block content %}

<div class="jumbotron">
  {% if user.is_authenticated %}
  <h3>Hi {{ user.username }} 🤪</h3>
  <br>
  <h5>You can see your account details and access your personal space <a href="/admin">here</a></h5>
  <br>
  <h5>Profile information:</h5>
  <p> - Username: {{ user.username }} <br/> - E-mail: {{ user.email }} </p>
  <br>
  <a class="btn btn-primary mr-3" href="{% url 'wish_list' user=user.username %}">See wish List</a>
  <a class="btn btn-secondary" href="{% url 'edit_account' %}">Edit my profile</a>
  <a class="btn btn-secondary" href="{% url 'change_password' %}">Change my password</a>
  {% else %}
  <p>You are not logged in. Log in to see your profile</p>
  {% endif %}
</div>

{% endblock %}