{% extends "base.html" %}
{% load static %}
{% load times_tag %}

{% block content %}
<section class="jumbotron">
	<div class="container">
		<h1 style='font-weight: bold;'>NYT BESTSELLERS</h1>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Category</li>
					<li class="breadcrumb-item active" aria-current="page">Sub-category</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<div class="container">
    <script src="{% static 'book_img.js' %}"></script>
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <img class="card-img-top" style="height:420px;object-fit: contain" id="book-thumb" src="{% static 'stock_temp.jpg' %}"/>
                </div>
            </div>
        </div>

        <!-- Details -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h2 class="card-text">{{ book.title }}</h2>
                    <h4 class="card-text">Written by: <span style="color: grey;">{{ book.author }}</span></h4>
                    <br></br>
                    <h5 class="card-text">ISBN: <span style="color: grey;">{{ book.isbn }}</span> </h5>
                    <h5 class="card-text">Last time best seller: <span style="color: grey;">{{ book.bestsellers_date }}</span></h5>
                    <h5 class="card-text">Publisher: <span style="color: grey;">{{ book.publisher }}</span></h5>
                    <h5 id="price" class="card-text">Price: <span style="color: grey;">Price no available</span></h5>
                    <br></br>
                    <form method="get">
                        <a href="wishlist.html" class="btn btn-success btn-lg btn-block text-uppercase">
                            <i class="fa fa-gift"></i> Add to a wish list
                        </a>
                    </form>
                    <div class="reviews_product p-3 mb-2 ">
                        {% if num_comments == 1 %}
                            {{ num_comments }} review
                        {% endif %}
                        {% if num_comments == 0 or num_comments > 1 %}
                            {{ num_comments }} reviews
                        {% endif %}
                        {% for item in num_stars|add:"0"|times %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                        {% if num_comments > 0 %}
                            ({{ average }}/5.0)
                            <a class="pull-right" href="#reviews">View all reviews</a>
                        {% endif %}
                        {% if num_comments == 0 %}
                            <a class="pull-right" href="#reviews">Write the first review</a>
                        {% endif %}
                        <script>
                            setBookDetails($('#book-thumb'), $('#price'), "{{book.isbn}}");
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> SUMMARY</div>
                <div class="card-body">
                    <p class="card-text">{{ book.summary }}</p>
                </div>
            </div>
        </div>

        <!-- Reviews display -->
        <div class="col-12" id="reviews">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
                <div class="card-body">
                    <div class="card border-0">
                        {% if user.is_authenticated %}
                        <h4>Leave a comment</h4>
                        <div class="form-group stars">
                            <span class="rate required">
                                <a class="star-1" value="1">1</a>
                                <a class="star-2" value="2">2</a>
                                <a class="star-3" value="3">3</a>
                                <a class="star-4" value="4">4</a>
                                <a class="star-5" value="5">5</a>
                            </span>
                        </div>
                        <script src="{% static 'stars.js' %}"></script>
                        <form action="" method="post">
                                {% csrf_token %}
                                {{ form }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        {% endif %} 
                    </div>
                </div>
                <div class="card-body">
                    <div class="card border-0">
                        <h6>{{ num_comments }} reviews</h6>
                        {% for comment in comments %}
                        <div class="card-body border-top">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                    <p class="text-secondary text-center" style="font-size: 10px;">{{ comment.date }}</p>
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        <p class="float-left"><strong>{{ comment.title }}</strong>  by {{ comment.made_by }}</p>
                                        {% for item in comment.stars|add:"0"|times %}
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        {% endfor %}
                                    </p>
                                    <div class="clearfix"></div>
                                    <p>{{ comment.body }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}