{% extends 'base.html' %}
{% block title %}Edit your profile{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="jumbotron" style="padding: 2rem 1rem;">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-10">
				<form method="post">
          <h2>Edit your profile</h2>
          <br>
					<form method="post">
						{% csrf_token %}
						{% bootstrap_form form %}
            <button class="btn btn-warning" type="submit">Save all changes</button>
					</form>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}