<div>
	{% if user.is_authenticated %}
	<a id="my_profile" class="btn btn-success" href="{% url 'account' %}">My Profile</a>
	<a id="logout" class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
	<a id="contact" class="btn btn-secondary" href="{% url 'contact' %}">Contact</a>
	{% else %}
	<a id="sign_up" class="btn btn-warning" href="{% url 'sign-up' %}">Sign Up</a>
	<a id="login" class="btn btn-primary" href="{% url 'login' %}">Login</a>
	<a id="contact" class="btn btn-secondary" href="{% url 'contact' %}">Contact</a>
	{% endif %}
</div>