{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="jumbotron">
	<div class="container">
		{% if number_books != 0 %}
			<h1> {{ user }} Wishes to have the following books:</em></h1>
		{% else %}
			<h1> {{ user }} doesn't wish any books yet!</em></h1>
		{% endif %}
	</div>
</section>
<div class="container">
	<div class="row">
	</div>
</div>
{% if number_books != 0 %}
<div class="container">
	<script src="{% static 'book_ajax.js' %}"></script>
	<div class="row">
		<table class="table table-hover table-striped">
			<thead>
			<tr class="thead-dark">
				<th></th>
				<th>Title & Author</th>
				<th class="text-right">Actions</th>
			</tr>
		</thead>
			<tbody>
				{% for book in books_list %}
				<tr>
					<td class="text-center">
						<div><a href="{% url 'book_details' book.pk %}">
							<img id="book-thumb-{{book.isbn}}" class="card-img-top mx-auto d-block" style="border-radius:0;width:100px;height:143px;object-fit: contain" src="{% static 'stock_temp.jpg' %}"/>
						</a><div>
						<script>
							setBookImg($('#book-thumb-{{book.isbn}}'), "{{book.isbn}}");
						</script>
					</td>
					<td class="align-middle">
						<b>{{ book.title }}</b> <br>
						<p class="font-italic">by {{ book.author }}</p>
					</td>
					<td class="align-middle">
                        <button class="float-right btn btn-danger btn-sm rounded-5 mr-2" type="button"title="Delete"><i class="fa fa-trash"></i></button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock content %}
