{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="jumbotron">
	<div class="container">
		<h1 style='font-weight: bold;'>{{ user }} WISH BOOKS</h1>
	</div>
</section>
<div class="container">
	<div class="row">
	</div>
</div>

<div class="container">
	<div class="row">
		<table class="table table-hover table-striped">
			<thead>
			<tr class="thead-dark">
				<th>#</th>
				<th></th>
				<th>Title & Author</th>
				<th>Actions</th>
			</tr>
		</thead>
			<tbody>
				{% for book in books_list %}
				<tr>
					<td>
						{{ forloop.counter }}
					</td>
					<td>
						<div><a href="{% url 'book_details' book.pk %}">
							<img id="book-thumb-{{book.isbn}}" class="card-img-top mx-auto d-block" style="border-radius:0;width:100px;height:143px;object-fit: contain" src="{% static 'stock_temp.jpg' %}"/>
						</a><div>
						<script>
							setBookImg($('#book-thumb-{{book.isbn}}'), "{{book.isbn}}");
						</script>
					</td>
					<td>
						{{ book.title }} - {{ book.author }}
					</td>
					<td>
						<a href="#" class="btn btn-warning"><i class="fas fa-edit"></i></a> | 
						<a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="col-12">
			<nav aria-label="...">
				<ul class="pagination justify-content-end mb-4">
					{% if books_list.has_previous %}
						<li class="page-item activate">
							<a class="page-link" href="?page={{ books_list.previous_page_number }}">Previous</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#">Previous</a>
						</li>
					{% endif %}
			
					<li class="page-item active"><a class="page-link" href="#">{{ books_list.number }}</a>
						<span class="sr-only">(current)</span>
					</li>
					{% if books_list.has_next %}
						<li class="page-item activate">
							<a class="page-link" href="?page={{ books_list.next_page_number }}">Next</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#">Next</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock content %}
