{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="jumbotron">
	<div class="container">
		<h1 style='font-weight: bold;'>NYT BESTSELLERS</h1>
		<p class="lead text-muted mb-0">{{ category.display_name }}</p>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Category</li>
					<li class="breadcrumb-item active" aria-current="page">Sub-category</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-3">
			<div class="card bg-light mb-3">
				<div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
				<ul class="list-group category_block">
				{% for category in categories %}
                	<li class="list-group-item"><a href="{% url 'category' category.pk %}">{{ category.display_name }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="card bg-light mb-3">
				<div class="card-header bg-success text-white text-uppercase"><i class="fa fa-trophy"></i> MORE DAYS ON THE LIST </div>
				<div class="card-body">
					<img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
					<h5 class="card-title"><a href="book.html" title="View Book">Book title</a></h5>
					<p class="card-text">Something related to the book that's been in the list longer from the ones making up the list, for example.</p>
					<div class="row">
						<div class="col">
							<p class="btn btn-danger btn-block">Learn more</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}