.stars a {
    display: inline-block;
    padding-right:4px;
    text-decoration: none;
    margin:0;
}
.stars a:after {
    position: relative;
    font-size: 18px;
    font-family: 'FontAwesome', serif;
    display: block;
    content: "\f005";
    color: lightgrey;
}
span.rate {
    font-size: 0;
}
.stars a:hover ~ a:after{
    color: lightgrey;;
}
span.active a.active ~ a:after{
    color: lightgrey;
}
span:hover a:after{
    color:orange;
}
span.active a:after,
.stars a.active:after{
    color:orange;
}